apiVersion: v1
kind: Service
metadata:
  name: sample-webapp-service
  labels:
    app: sample-webapp
spec:
  type: NodePort
  selector:
    app: sample-webapp
  ports:
  - name: http
    port: 80
    targetPort: 5000
    nodePort: 30080
